<!DOCTYPE html>
<html>
<head>
  <title>Subscription Canceled | TruView Glass</title>
  <link rel="stylesheet" href="/site.css">
</head>
<body>
  <% include ./partials/header.ejs %>
  <main class="container" style="text-align:center;">
    <h1>Payment Canceled</h1>
    <p>Your subscription checkout was canceled. You can try again any time.</p>
    <a href="/" class="cta-button">Back to Home</a>
  </main>
  <% include ./partials/footer.ejs %>
</body>
</html>