<!DOCTYPE html>
<html>
<head>
  <title>Subscription Successful | TruView Glass</title>
  <link rel="stylesheet" href="/site.css">
</head>
<body>
  <% include ./partials/header.ejs %>
  <main class="container" style="text-align:center;">
    <h1>Thank you for subscribing!</h1>
    <p>Your subscription was successful. We’ll get everything set up and notify you soon.</p>
    <a href="/" class="cta-button">Back to Home</a>
  </main>
  <% include ./partials/footer.ejs %>
</body>
</html>